.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 200px;
  max-width: max-content;
  margin: 0.5em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

  &.primary {
    background-color: rgb(240, 240, 238);
  }

  &.secondary {
    background-color: rgb(199, 183, 214);
  }

  &.rounded {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50px;
  }

  .icon-btn {
    padding: 5px;
    cursor: pointer;
    min-height: 1em;
    min-width: 1em;
    text-align: center;
    font-size: 12px;
    border: none;
    background: none;
    text-shadow: 1px black;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

    &.primary {
      background-color: rgb(241, 241, 240);
    }

    &.secondary {
      background-color: rgb(199, 183, 214);
    }

    &.rounded {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 2px 4px 0 rgba(0, 0, 0, 0.19);
      border-radius: 50%;
    }
  }
  .pagination-item {
    padding: 5px;
    min-height: 1em;
    min-width: 1em;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

    &.rounded {
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
        0 2px 4px 0 rgba(0, 0, 0, 0.19);
      border-radius: 50%;
    }

    &.primary {
      background-color: rgb(240, 240, 238);
      &.active {
        background-color: rgb(203, 203, 202);
        outline: 1px solid rgb(138, 138, 136);
      }
    }

    &.secondary {
      background-color: rgb(199, 183, 214);
      &.active {
        background-color: rgb(187, 159, 212);
        outline: 1px solid rgb(170, 125, 210);
      }
    }
  }
}
