$primaryColor_background: rgb(240, 240, 238);
$primaryColor_active: rgb(203, 203, 202);
$primaryColor_outline: rgb(138, 138, 136);

$secondaryColor_background: rgb(199, 183, 214);
$secondaryColor_active: rgb(187, 159, 212);
$secondaryColor_outline: rgb(170, 125, 210);

$boxshadowColor: rgba(0, 0, 0, 0.2);



//--------------NavBar-----------------//

$--mainColor: #29335C;
$--mainColorLight: #5767aa;
$--secenderyColor: #DB2B39;
$--textColor: gray;