*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./Mixins/mixins";
@import "./variables/colors";
@import "./variables/stepperColors";
@import "../components/pagination/pagination";
@import "../components/Stepper/Stepper.scss";
