@import "./Mixins/mixins";
@import "./variables/colors";
@import "./variables/stepperColors";
@import "../components/pagination/pagination";
@import "../components/Stepper/Stepper.scss";
@import "../components/Navbar/NavBar";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
